/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

/* map Zen's extra keys */
#define X_LT  &none         // top row, left
#define X_LM  &kp ESC       // middle row, left
#define X_LMG &kp LSHIFT    // middle row, left, GAME layer
#define X_LB  &none         // bottom row, left
#define X_RT  &none         // top row, right
#define X_RM  &kp RET       // middle row, right
#define X_RB  &none         // bottom row, right

#define X_LH  &none         // thumb row, left
#define X_RH  &none         // thumb row, right

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"

/* use 5-column layout for Zen */
// / { chosen { zmk,matrix_transform = &five_column_transform; }; };

/* vim: set ft=c tw=174: */
